<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.minyisoft.webapp.core.web.converter.CustomStringToEnumConverterFactory" />
			</set>
		</property>
		<property name="formatters">
			<set>
				<bean class="com.minyisoft.webapp.core.web.formatter.ModelObjectFormatter" />
				<bean class="com.minyisoft.webapp.core.web.formatter.SortDirectionFormatter" />
			</set>
		</property>
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/weixin/*" />
			<bean
				class="com.minyisoft.webapp.weixin.common.web.interceptor.WeixinMessageReceiveInterceptor">
				<property name="weixinToken" value="weixinYjmz"/>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/manage/**" />
			<mvc:mapping path="/login.html" />
			<mvc:mapping path="/viewDetail.html"/>
			<mvc:exclude-mapping path="/manage/attachmentUploadResult.html"/>
			<bean
				class="com.minyisoft.webapp.yjmz.weixin.web.interceptor.WeixinOAuthInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<bean
				class="com.minyisoft.webapp.yjmz.common.web.admin.interceptor.AuthenticationInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 文件上传Resolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="5000000" />
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>

	<!-- 使用Thymeleaf渲染view -->
	<bean id="templateResolver"
		class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/thymeleaf/" />
		<property name="suffix" value=".html" />
		<property name="cacheable" value="false" /> <!-- 在生产环境可设置为true -->
		<property name="characterEncoding" value="UTF-8" />
	</bean>
	
	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>
	
	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="contentType" value="text/html; charset=UTF-8" />
		<property name="staticVariables">
			<map>
				<entry key="resourceUrlRoot" value="#{applicationProperties['web.resource_url_root']}"></entry>
			</map>
		</property>
	</bean>

	<!-- 出错页面设置 -->
	<bean id="exceptionResolver" class="com.minyisoft.webapp.yjmz.common.web.ExceptionResolver" />

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving 
		up static resources in the ${webappRoot}/resources/ directory -->
	<mvc:resources mapping="/resource/**" location="/resource/" />

	<context:component-scan base-package="com.minyisoft.webapp.yjmz.**.web" />
</beans>