<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>修改登录密码-在线OA系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:if="${adminPage}" th:remove="tag">
  <div th:substituteby="component/layout::adminSidebar" ></div>
</div>
<div th:if="${!adminPage}" th:remove="tag">
  <div th:substituteby="component/layout::sidebar"></div>
</div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3 style="border-bottom:#ccc solid 1px;">修改登录密码</h3>
    <form id="form1" name="form1" role="form" class="form-horizontal" th:action="@{'/share/passwordReset.html'}" method="post" style="margin-top:20px;">
      <div class="form-group">
      	<div class="col-md-8">
      		<div class="alert" th:classappend="${success}?'alert-success':'alert-danger'" role="alert" th:if="${!#strings.isEmpty(msg)}" th:text="${msg}"></div>
      	</div>
      </div>
      <div class="form-group">
        <label for="oldPassword" class="col-md-2 control-label"><span class="text-danger">*</span>&nbsp;原登录密码：</label>
        <div class="col-md-6">
          <input type="password" class="form-control required" id="oldPassword" name="oldPassword" placeholder="请输入原登录密码" />
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword" class="col-md-2 control-label"><span class="text-danger">*</span>&nbsp;新登录密码：</label>
        <div class="col-md-6">
          <input type="password" class="form-control required" id="newPassword" name="newPassword" placeholder="请输入新登录密码" />
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword2" class="col-md-2 control-label"><span class="text-danger">*</span>&nbsp;确认新密码：</label>
        <div class="col-md-6">
          <input type="password" class="form-control required" id="newPassword2" name="newPassword2" placeholder="请确认新登录密码" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button type="submit" class="btn btn-primary">提交</button>
          <button type="reset" class="btn btn-info">重置</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:remove="tag"></script>
<script type="text/javascript" th:include="component/resource::formValidateJs" th:with="formId=form1,extendOption='{rules: {newPassword2: {equalTo: \'#newPassword\'}}}'" th:remove="tag"></script>
</body>
</html>
