<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="report">
  <table class="table table-bordered">
    <tr>
      <th>档案编号</th>
      <th style="font-weight:normal;" th:text="${report.fileNumber}">&nbsp;</th>
      <th>文件编号</th>
      <th style="font-weight:normal;" th:text="${report.billNumber}">&nbsp;</th>
    </tr>
    <tr>
      <th>由：</th>
      <td th:text="${report.department!=null}?${report.department.name}+'&nbsp;'+${report.createUser.name}:${report.createUser.name}">&nbsp;</td>
      <th>日期：</th>
      <td th:text="${#dates.format(report.createDate,'yyyy年MM月dd日')}">&nbsp;</td>
    </tr>
    <tr>
      <th>事由：</th>
      <td colspan="3" th:text="${report.reportTitle}">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4" th:utext="${report.description}"></td>
    </tr>
  </table>
  <div class="row" th:if="${!#lists.isEmpty(report.attachments)}">
    <div class="col-xs-6 col-md-3" th:each="attachment : ${report.attachments}">
      <div class="thumbnail"><a th:href="${attachment.url}" target="_blank" th:class="${attachment.image}?'modal-view'"> <img th:src="${not attachment.image}?@{'/resource/img/file-icon.jpg'}:${attachment.url}" class="img-responsive" style="height:150px;" th:title="${attachment.name}"/> </a>
        <div class="caption">
          <p style="margin:0px;"><a th:href="${attachment.url}" th:text="${attachment.name}" target="_blank">Thumbnail label</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:fragment="maintainReqBill">
  <table class="table table-bordered">
    <tr>
      <th>申请部门</th>
      <th style="font-weight:normal;" th:text="${maintainReqBill.department!=null}?${maintainReqBill.department.name}">&nbsp;</th>
      <th>日期</th>
      <th style="font-weight:normal;" th:text="${#dates.format(maintainReqBill.createDate,'yyyy年MM月dd日')}">&nbsp;</th>
    </tr>
    <tr>
      <th>申请人</th>
      <td th:text="${maintainReqBill.createUser.name}">&nbsp;</td>
      <th>位置</th>
      <td th:text="${maintainReqBill.location}">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4"><label th:each="type : ${maintainTypes}" class="checkbox-inline">
        <input type="checkbox" disabled="disabled" th:checked="${#arrays.contains(maintainReqBill.maintainTypes, type)}" th:text="${type.description}"/>
        1 </label>
      </td>
    </tr>
    <tr>
      <td colspan="4" th:text="${maintainReqBill.description}"></td>
    </tr>
    <tr>
      <th>维修技师</th>
      <td th:text="${maintainReqBill.maintenanceMan}?${maintainReqBill.maintenanceMan.name}">&nbsp;</td>
      <th>完成日期</th>
      <td th:text="${maintainReqBill.finishDate}?${#dates.format(maintainReqBill.finishDate,'yyyy年MM月dd日')}">&nbsp;</td>
    </tr>
    <tr>
      <th colspan="2">维修材料清单</th>
      <th>数量</th>
      <th>金额</th>
    </tr>
    <tr th:each="entry:${maintainReqBill.entry}">
      <td colspan="2" th:text="${entry.name}"></td>
      <td th:text="${entry.quantity}"></td>
      <td th:text="${entry.price}"></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th colspan="2">合计</th>
      <td th:text="${maintainReqBill.materialsTotalQuantity.orNull()}"></td>
      <td th:text="${maintainReqBill.materialsTotalPrice.orNull()}"></td>
    </tr>
    <tr>
      <th>接单人</th>
      <td th:text="${maintainReqBill.receiver!=null}?${maintainReqBill.receiver.name}">&nbsp;</td>
      <th>验收人</th>
      <td th:text="${maintainReqBill.examiner!=null}?${maintainReqBill.examiner.name}">&nbsp;</td>
    </tr>
  </table>
</div>
<div th:fragment="purchaseReqBill">
  <table style="width:100%; margin:10px 0px;">
    <tr>
      <td width="33%">部门：<span th:text="${purchaseReqBill.department!=null}?${purchaseReqBill.department.name}"></span></td>
      <td width="33%">申请人：<span th:text="${purchaseReqBill.createUser.name}"></span></td>
      <td>日期：<span th:text="${#dates.format(purchaseReqBill.createDate,'yyyy年MM月dd日')}"></span></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>品名</th>
      <th>规格</th>
      <th>申请采购量</th>
      <th>单价</th>
      <th>已有仓储量</th>
      <th>实际采购量</th>
      <th>备注</th>
    </tr>
    <tr th:each="entry:${purchaseReqBill.entry}">
      <td th:text="${entry.name}">&nbsp;</td>
      <td th:text="${entry.standard}">&nbsp;</td>
      <td th:text="${entry.quantity}">&nbsp;</td>
      <td th:text="${entry.unitPrice}">&nbsp;</td>
      <td th:text="${entry.depotAmount}">&nbsp;</td>
      <td th:text="${entry.actualQuantity}">&nbsp;</td>
      <td th:text="${entry.remark}">&nbsp;</td>
    </tr>
  </table>
  <div class="row" th:if="${!#lists.isEmpty(purchaseReqBill.attachments)}">
    <div class="col-xs-6 col-md-3" th:each="attachment : ${purchaseReqBill.attachments}">
      <div class="thumbnail"><a th:href="${attachment.url}" target="_blank" th:class="${attachment.image}?'modal-view'"> <img th:src="${not attachment.image}?@{'/resource/img/file-icon.jpg'}:${attachment.url}" class="img-responsive" style="height:150px;" th:title="${attachment.name}"/> </a>
        <div class="caption">
          <p style="margin:0px;"><a th:href="${attachment.url}" th:text="${attachment.name}" target="_blank">Thumbnail label</a></p>
        </div>
      </div>
    </div>
  </div>
  <h4 th:if="${!#lists.isEmpty(purchaseReqBill.processReports)}">采购进度</h4>
  <table class="table table-bordered" th:if="${!#lists.isEmpty(purchaseReqBill.processReports)}">
    <tr>
      <th>报告时间</th>
      <th>报告人</th>
      <th>内容</th>
    </tr>
    <tr th:each="report:${purchaseReqBill.processReports}">
      <td th:text="${#dates.format(report.reportDate,'yyyy-MM-dd')}">&nbsp;</td>
      <td th:text="${report.reportUser.name}">&nbsp;</td>
      <td th:text="${report.reportDetail}">&nbsp;</td>
    </tr>
  </table>
</div>
<div th:fragment="personnelChangeBill">
  <table class="table table-bordered">
    <tr>
      <th>姓名</th>
      <th style="font-weight:normal;" th:text="${personnelChangeBill.staffName}">&nbsp;</th>
      <th>性别</th>
      <th style="font-weight:normal;" th:text="${personnelChangeBill.userMale.description}">&nbsp;</th>
      <th>入职日期</th>
      <th style="font-weight:normal;" th:text="${#dates.format(personnelChangeBill.entryDate,'yyyy-MM-dd')}">&nbsp;</th>
    </tr>
    <tr>
      <th>员工号码</th>
      <td colspan="3" th:text="${personnelChangeBill.staffNumber}">&nbsp;</td>
      <th>生效日期</th>
      <td th:text="${#dates.format(personnelChangeBill.effectiveDate,'yyyy-MM-dd')}">&nbsp;</td>
    </tr>
    <tr>
      <th>变更类型</th>
      <td colspan="5" th:text="${personnelChangeBill.changeType.description}">&nbsp;</td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th rowspan="2" class="col-md-2" style="text-align:center; vertical-align:middle;">部门</th>
      <th class="col-md-3" style="text-align:center;">由</th>
      <th class="col-md-3" style="text-align:center;">至</th>
    </tr>
    <tr>
      <td th:text="${personnelChangeBill.department!=null}?${personnelChangeBill.department.name}"></td>
      <td th:text="${personnelChangeBill.newDepartment.name}"></td>
    </tr>
    <tr>
      <td align="center" valign="middle">职位</td>
      <td th:text="${personnelChangeBill.oriPosition}"></td>
      <td th:text="${personnelChangeBill.newPosition}"></td>
    </tr>
    <tr>
      <td align="center" valign="middle">级别</td>
      <td th:text="${personnelChangeBill.oriRank}"></td>
      <td th:text="${personnelChangeBill.newRank}"></td>
    </tr>
    <tr>
      <td align="center" valign="middle">工资</td>
      <td><span th:text="${personnelChangeBill.oriSalary}"></span>&nbsp;RMB/月</td>
      <td><span th:text="${personnelChangeBill.newSalary}"></span>&nbsp;RMB/月</td>
    </tr>
  </table>
  <p>备注：</p>
  <p>最后工作日期：<span th:text="${personnelChangeBill.lastWorkDate!=null}?${#dates.format(personnelChangeBill.lastWorkDate,'yyyy年MM月dd日')}"></span></p>
  <p>增加薪金：RMB<span style="width: 70px; display: inline-block;" th:text="${personnelChangeBill.salaryChangeAmount ge 0}?${personnelChangeBill.salaryChangeAmount}"></span>&nbsp;原因：<span th:text="${personnelChangeBill.salaryChangeAmount ge 0}?${personnelChangeBill.salaryChangeReason}"></span></p>
  <p>扣除薪金：RMB<span style="width: 70px; display: inline-block;" th:text="${personnelChangeBill.salaryChangeAmount lt 0}?${personnelChangeBill.salaryChangeAmount.abs()}"></span>&nbsp;原因：<span th:text="${personnelChangeBill.salaryChangeAmount lt 0}?${personnelChangeBill.salaryChangeReason}"></span></p>
  <p>其他意见：<span th:text="${personnelChangeBill.description}"></span></p>
  <p>制单人：<span th:text="${personnelChangeBill.createUser.name}"></span></p>
</div>
</body>
</html>
