<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="report">
  <table class="table table-bordered">
    <tr>
      <th>档案编号</th>
      <th style="font-weight:normal;" th:text="${report.fileNumber}">&nbsp;</th>
      <th>文件编号</th>
      <th style="font-weight:normal;" th:text="${report.billNumber}">&nbsp;</th>
    </tr>
    <tr>
      <th>由：</th>
      <td th:text="${report.department!=null}?${report.department.name}+'&nbsp;'+${report.createUser.name}:${report.createUser.name}">&nbsp;</td>
      <th>日期：</th>
      <td th:text="${#dates.format(report.createDate,'yyyy年MM月dd日')}">&nbsp;</td>
    </tr>
    <tr>
      <th>事由：</th>
      <td colspan="3" th:text="${report.reportTitle}">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4" th:utext="${report.description}"></td>
    </tr>
    <tr th:if="${!#lists.isEmpty(report.attachments)}">
      <th>附件：</th>
      <td colspan="3"><ul>
          <li th:each="attachment : ${report.attachments}"><span th:class="${attachment.image}?'icon-picture':'icon-file-text'"></span>&nbsp;<a target="_blank" th:href="${attachment.url}" th:text="${attachment.name}"></a> </li>
        </ul></td>
    </tr>
  </table>
</div>
<div th:fragment="maintainReqBill">
  <table class="table table-bordered">
    <tr>
      <th>申请部门</th>
      <th style="font-weight:normal;" th:text="${maintainReqBill.department!=null}?${maintainReqBill.department.name}">&nbsp;</th>
      <th>日期</th>
      <th style="font-weight:normal;" th:text="${#dates.format(maintainReqBill.createDate,'yyyy年MM月dd日')}">&nbsp;</th>
    </tr>
    <tr>
      <th>申请人</th>
      <td th:text="${maintainReqBill.createUser.name}">&nbsp;</td>
      <th>位置</th>
      <td th:text="${maintainReqBill.location}">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4"><label th:each="type : ${maintainTypes}" class="checkbox-inline">
        <input type="checkbox" disabled="disabled" th:checked="${#arrays.contains(maintainReqBill.maintainTypes, type)}" th:text="${type.description}"/>
        1 </label>
      </td>
    </tr>
    <tr>
      <td colspan="4" th:text="${maintainReqBill.description}"></td>
    </tr>
    <tr>
      <th>维修技师</th>
      <td th:text="${maintainReqBill.maintenanceMan}?${maintainReqBill.maintenanceMan.name}">&nbsp;</td>
      <th>完成日期</th>
      <td th:text="${maintainReqBill.finishDate}?${#dates.format(maintainReqBill.finishDate,'yyyy年MM月dd日')}">&nbsp;</td>
    </tr>
    <tr>
      <th colspan="2">维修材料清单</th>
      <th>数量</th>
      <th>金额</th>
    </tr>
    <tr th:each="entry:${maintainReqBill.entry}">
      <td colspan="2" th:text="${entry.name}"></td>
      <td th:text="${entry.quantity}"></td>
      <td th:text="${entry.price}"></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th colspan="2">合计</th>
      <td th:text="${maintainReqBill.materialsTotalQuantity.orNull()}"></td>
      <td th:text="${maintainReqBill.materialsTotalPrice.orNull()}"></td>
    </tr>
    <tr>
      <th>接单人</th>
      <td th:text="${maintainReqBill.receiver!=null}?${maintainReqBill.receiver.name}">&nbsp;</td>
      <th>验收人</th>
      <td th:text="${maintainReqBill.examiner!=null}?${maintainReqBill.examiner.name}">&nbsp;</td>
    </tr>
  </table>
</div>
<div th:fragment="purchaseReqBill">
  <table style="width:100%; margin:10px 0px;">
    <tr>
      <td width="33%">部门：<span th:text="${purchaseReqBill.department!=null}?${purchaseReqBill.department.name}"></span></td>
      <td width="33%">申请人：<span th:text="${purchaseReqBill.createUser.name}"></span></td>
      <td>日期：<span th:text="${#dates.format(purchaseReqBill.createDate,'yyyy年MM月dd日')}"></span></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>品名</th>
      <th>规格</th>
      <th>数量</th>
      <th>单价</th>
      <th>已有仓储量</th>
      <th>实际采购量</th>
      <th>备注</th>
    </tr>
    <tr th:each="entry:${purchaseReqBill.entry}">
      <td th:text="${entry.name}">&nbsp;</td>
      <td th:text="${entry.standard}">&nbsp;</td>
      <td th:text="${entry.quantity}">&nbsp;</td>
      <td th:text="${entry.unitPrice}">&nbsp;</td>
      <td th:text="${entry.depotAmount}">&nbsp;</td>
      <td th:text="${entry.actualQuantity}">&nbsp;</td>
      <td th:text="${entry.remark}">&nbsp;</td>
    </tr>
    <tr th:if="${!#lists.isEmpty(purchaseReqBill.attachments)}">
      <th>附件</th>
      <td colspan="6"><ul>
          <li th:each="attachment : ${purchaseReqBill.attachments}"><span th:class="${attachment.image}?'icon-picture':'icon-file-text'"></span>&nbsp;<a target="_blank" th:href="${attachment.url}" th:text="${attachment.name}"></a> </li>
        </ul></td>
    </tr>
  </table>
</div>
</body>
</html>
