<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>工程维修单列表-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::sidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3>工程维修单列表<a th:href="@{'/manage/maintainReqBillEdit.html'}" role="button" class="btn btn-success btn-sm pull-right"><span class="icon-plus"></span>&nbsp;新增工程维修单</a><a style="margin-right:5px;" th:href="@{'/manage/exportMaintainReqBillExcel.do'}" role="button" class="export-excel hidden-xs btn btn-default btn-sm pull-right"><span class="icon-file-text"></span>&nbsp;导出Excel文档</a></h3>
    <div th:replace="component/selectFilterModule::selectForm" th:with="filter = ${filter}, url = @{'/manage/maintainReqBillList.html'}"></div>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="hidden-xs"><input type="checkbox" id="checkAll" name="checkAll"/></th>
            <th>申请部门</th>
            <th>日期</th>
            <th>申请人</th>
            <th>位置</th>
            <th>类型</th>
            <th>维修技师</th>
            <th>完成日期</th>
            <th style="text-align:center;">流程状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody th:if="${!#lists.isEmpty(maintainReqBills)}">
          <tr th:each="maintainReqBill :${maintainReqBills}" th:with="editable = ${currentUser.equals(maintainReqBill.createUser) and maintainReqBill.processUnStarted}">
            <td class="hidden-xs"><input type="checkbox" name="exportIds" th:value="${maintainReqBill.id}"/></td>
            <td th:text="${maintainReqBill.department!=null}?${maintainReqBill.department.name}:'-'"></td>
            <td th:text="${#dates.format(maintainReqBill.createDate,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${maintainReqBill.createUser.name}"></td>
            <td th:text="${maintainReqBill.location}"></td>
            <td><span th:each="type : ${maintainReqBill.maintainTypes}" th:text="${type.description}+(${!typeStat.last}?'&nbsp;':'')" th:remove="tag"></span></td>
            <td th:text="${maintainReqBill.maintenanceMan!=null}?${maintainReqBill.maintenanceMan.name}"></td>
            <td th:text="${maintainReqBill.finishDate!=null}?${#dates.format(maintainReqBill.finishDate,'yyyy-MM-dd HH:mm')}"></td>
            <td style="text-align:center;"><i th:class="${maintainReqBill.processStatus.value eq 0}?'icon-circle-blank':'icon-circle'" th:classappend="${maintainReqBill.processStatus.value eq 2}?'text-success':(${maintainReqBill.processStatus.value eq 1}?'text-primary')"></i></td>
            <td><a th:href="@{'/manage/workFlowDetail.html?workFlowModelId='+${maintainReqBill.id}}" class="btn btn-default btn-sm" role="button">详情</a>&nbsp;<a th:if="${editable}" th:href="@{'/manage/maintainReqBillEdit.html?maintainReqBillId='+${maintainReqBill.id}}" class="btn btn-default btn-sm" role="button">编辑</a>&nbsp;<a onclick="return window.confirm('确定提交所选工作报告?')" th:if="${editable}" th:href="@{'/manage/startWorkFlow.html?workFlowModelId='+${maintainReqBill.id}}" class="btn btn-primary btn-sm" role="button">提交审批</a>&nbsp;<a onclick="return window.confirm('确定删除所选工程维修单?')" th:if="${editable}" th:href="@{'/manage/maintainReqBillDelete.html?maintainReqBillId='+${maintainReqBill.id}}" class="btn btn-warning btn-sm" role="button">删除</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p th:if="${!#lists.isEmpty(maintainReqBills)}"><i class="icon-circle-blank"></i>&nbsp;未启动&nbsp;&nbsp;<i class="icon-circle text-primary"></i>&nbsp;运行中&nbsp;&nbsp;<i class="icon-circle text-success"></i>&nbsp;已结束</p>
    <div th:if="${!#lists.isEmpty(maintainReqBills)}" th:include="component/pagination::pagination" th:remove="tag" th:with="pageDevice=${filter.criteria.pageDevice},url='maintainReqBillList.html'"></div>
    <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(maintainReqBills)}">暂没有可供您浏览的工程维修单</div>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_maintainReqBill'" th:remove="tag"></script>
<script type="text/javascript" th:replace="component/selectFilterModule::selectFormResource"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.export-excel').click(function(){
		if(jQuery('input[name="exportIds"]:checked').length==0){
			alert('请首先勾选需要导出的工程维修单');
			return false;
		}
		jQuery(this).attr('href','exportMaintainReqBillExcel.do?'+jQuery('input[name="exportIds"]:checked').serialize());
	});
	
	jQuery('#checkAll').click(function(){
		jQuery('input[name="exportIds"]').each(function(){
			jQuery(this).attr('checked', jQuery('#checkAll').attr('checked'));
		});
	});
});
</script>
</body>
</html>
