<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>编辑工程维修单-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::sidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3 style="border-bottom:#ccc solid 1px;">编辑工程维修单<a role="button" class="btn btn-success btn-sm pull-right" th:href="@{'/manage/maintainReqBillList.html'}"><span class="icon-share-alt"></span>&nbsp;返回列表</a></h3>
    <form id="form1" name="form1" role="form" class="form-horizontal" th:action="@{'/manage/maintainReqBillEdit.html'}" method="post" style="margin-top:20px;">
      <div class="form-group">
        <label class="col-md-2 control-label">申请部门：</label>
        <div class="col-md-6">
          <p class="form-control-static" th:text="${currentDepartment!=null}?${currentDepartment.name}"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-md-2 control-label"><span class="text-danger">*</span>&nbsp;位置：</label>
        <div class="col-md-6">
          <input type="text" class="form-control required" id="location" name="location" placeholder="请输入维修位置" th:value="${maintainReqBill.location}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="maintainTypes" class="col-md-2 control-label"><span class="text-danger">*</span>&nbsp;类型：</label>
        <div class="col-md-6">
          <label class="checkbox-inline" th:each="type : ${maintainTypes}">
          <input class="required" type="checkbox" name="maintainTypes" th:id="'maintainTypes_'+${typeStat.count}" th:value="${type.value}" th:checked="${maintainReqBill.maintainTypes!=null} and ${#arrays.contains(maintainReqBill.maintainTypes,type)}" th:text="${type.description}"/>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-md-2 control-label">备注：</label>
        <div class="col-md-6">
          <textarea class="form-control" rows="3" id="description" name="description" placeholder="请输入备注" th:text="${maintainReqBill.description}">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button type="submit" class="btn btn-default">提交</button>
          <button type="reset" class="btn btn-info">重置</button>
          <input name="maintainReqBillId" type="hidden" th:value="${maintainReqBill.id}"/>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_maintainReqBill'" th:remove="tag"></script>
<script type="text/javascript" th:include="component/resource::formValidateJs" th:with="formId=form1" th:remove="tag"></script>
</body>
</html>
