<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>人事变动单-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::sidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3>人事变动单<a th:href="@{'/manage/personnelChangeBillEdit.html'}" role="button" class="btn btn-success btn-sm pull-right"><span class="icon-plus"></span>&nbsp;新增人事变动单</a><a style="margin-right:5px;" th:href="@{'/manage/exportPersonnelChangeBillExcel.do'}" role="button" class="export-excel hidden-xs btn btn-default btn-sm pull-right"><span class="icon-file-text"></span>&nbsp;导出Excel文档</a></h3>
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px;">
      <li th:each="status : ${processStatuses}" th:class="${status == filter.criteria.processStatus}?'active'"><a th:href="@{'/manage/personnelChangeBillList.html?processStatus='+${status.value}}" role="tab" th:text="${status.description}">运行中</a></li>
    </ul>
    <div th:replace="component/selectFilterModule::selectForm" th:with="filter = ${filter}, url = @{'/manage/personnelChangeBillList.html'}"></div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="hidden-xs"><input type="checkbox" id="checkAll" name="checkAll"/></th>
          <th class="hidden-xs">创建时间</th>
          <th>部门</th>
          <th>员工姓名</th>
          <th class="hidden-xs">员工号码</th>
          <th>变动类型</th>
          <th>创建人</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody th:if="${!#lists.isEmpty(personnelChangeBills)}">
        <tr th:each="personnelChangeBill :${personnelChangeBills}" th:with="editable = ${currentUser.equals(personnelChangeBill.createUser) and personnelChangeBill.processUnStarted}">
          <td class="hidden-xs"><input type="checkbox" name="exportIds" th:value="${personnelChangeBill.id}"/></td>
          <td class="hidden-xs" th:text="${#dates.format(personnelChangeBill.createDate,'yyyy-MM-dd HH:mm')}"></td>
          <td th:text="${personnelChangeBill.department!=null}?${personnelChangeBill.department.name}:'-'"></td>
          <td th:text="${personnelChangeBill.staffName}"></td>
          <td class="hidden-xs" th:text="${personnelChangeBill.staffNumber}"></td>
          <td th:text="${personnelChangeBill.changeTypeDescription}"></td>
          <td th:text="${personnelChangeBill.createUser.name}"></td>
          <td><a th:href="@{'/manage/workFlowDetail.html?workFlowModelId='+${personnelChangeBill.id}}" class="btn btn-default btn-sm" role="button">详情</a>&nbsp;<a th:if="${editable}" th:href="@{'/manage/personnelChangeBillEdit.html?personnelChangeBillId='+${personnelChangeBill.id}}" class="btn btn-default btn-sm" role="button">编辑</a>&nbsp;<a onclick="return window.confirm('确定提交所选人事变动单?')" th:if="${editable}" th:href="@{'/manage/startWorkFlow.html?workFlowModelId='+${personnelChangeBill.id}}" class="btn btn-primary btn-sm" role="button">提交审批</a>&nbsp;<a onclick="return window.confirm('确定删除所选人事变动单?')" th:if="${editable}" th:href="@{'/manage/personnelChangeBillDelete.html?personnelChangeBillId='+${personnelChangeBill.id}}" class="btn btn-warning btn-sm" role="button">删除</a></td>
        </tr>
      </tbody>
    </table>
    <div th:if="${!#lists.isEmpty(personnelChangeBills)}" th:include="component/pagination::pagination" th:remove="tag" th:with="pageDevice=${filter.criteria.pageDevice},requestQueryString=${filter.requestQueryString},url='personnelChangeBillList.html'+(${#strings.isEmpty(requestQueryString)}?'':'?'+${requestQueryString})"></div>
    <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(personnelChangeBills)}">暂没有可供您浏览的人事变动单</div>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_personnelChangeBill'" th:remove="tag"></script>
<script type="text/javascript" th:replace="component/selectFilterModule::selectFormResource"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.export-excel').click(function(){
		if(jQuery('input[name="exportIds"]:checked').length==0){
			alert('请首先勾选需要导出的人事变动单');
			return false;
		}
		jQuery(this).attr('href','exportPersonnelChangeBillExcel.do?'+jQuery('input[name="exportIds"]:checked').serialize());
	});
});
</script>
</body>
</html>
