<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>编辑采购单-在线OA系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::adminSidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3>编辑采购单<a role="button" class="btn btn-success btn-sm pull-right" th:href="@{'/manage/purchaseReqBillList.html'}"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;返回采购单列表</a></h3>
    <form role="form" class="form-horizontal" th:action="@{'/manage/purchaseReqBillEdit.html'}" method="post">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>品名</th>
            <th>规格</th>
            <th>数量</th>
            <th>单价</th>
            <th>备注</th>
            <th><a role="button" href="#" id="add-entry" class="btn btn-success btn-sm" title="添加采购项"><span class="glyphicon glyphicon-plus"></span></a></th>
          </tr>
        </thead>
        <tbody th:if="${#lists.isEmpty(purchaseReqBill.entry)}">
          <tr>
            <td class="col-md-3"><input type="text" class="form-control" id="name0" name="entry[0].name" placeholder="请输入品名"/></td>
            <td class="col-md-2"><input type="text" class="form-control" id="standard0" name="entry[0].standard" placeholder="请输入规格"/></td>
            <td class="col-md-2"><input type="text" class="form-control" id="quantity0" name="entry[0].quantity" placeholder="请输入数量"/></td>
            <td class="col-md-2"><input type="text" class="form-control" id="unitPrice0" name="entry[0].unitPrice" placeholder="请输入单价"/></td>
            <td class="col-md-2"><input type="text" class="form-control" id="remark0" name="entry[0].remark" placeholder="请输入备注"/></td>
            <td class="col-md-1"><a role="button" href="#" class="btn btn-danger btn-sm rm-entry" title="删除采购项"><span class="glyphicon glyphicon-minus"></span></a></td>
          </tr>
        </tbody>
        <tbody th:if="${!#lists.isEmpty(purchaseReqBill.entry)}">
          <tr th:each="entry : ${purchaseReqBill.entry}">
            <td class="col-md-3"><input type="text" class="form-control" th:id="'name'+${entryStat.index}" th:name="'entry['+${entryStat.index}+'].name'" placeholder="请输入品名" th:value="${entry.name}"/></td>
            <td class="col-md-3"><input type="text" class="form-control" th:id="'standard'+${entryStat.index}" th:name="'entry['+${entryStat.index}+'].standard'" placeholder="请输入规格" th:value="${entry.standard}"/></td>
            <td class="col-md-2"><input type="text" class="form-control" th:id="'quantity'+${entryStat.index}" th:name="'entry['+${entryStat.index}+'].quantity'" placeholder="请输入数量" th:value="${entry.quantity}"/></td>
            <td class="col-md-2"><input type="text" class="form-control" th:id="'unitPrice'+${entryStat.index}" th:name="'entry['+${entryStat.index}+'].unitPrice'" placeholder="请输入单价" th:value="${entry.unitPrice}"/></td>
            <td class="col-md-2"><input type="text" class="form-control" th:id="'remark'+${entryStat.index}" th:name="'entry['+${entryStat.index}+'].remark'" placeholder="请输入备注" th:value="${entry.remark}"/></td>
            <td class="col-md-1"><a role="button" href="#" class="btn btn-danger btn-sm rm-entry" title="删除采购项"><span class="glyphicon glyphicon-minus"></span></a></td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <div class="col-md-12">
          <button type="submit" class="btn btn-default">提交</button>
          <button type="reset" class="btn btn-info">重置</button>
          <input name="purchaseReqBillId" type="hidden" th:value="${purchaseReqBill.id}"/>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:substituteby="component/resource::js"></script>
<script type="text/javascript" th:inline="javascript">
var entryIndex=/*[[${#lists.isEmpty(purchaseReqBill.entry)}?0:${purchaseReqBill.entry.size()}]]*/;
</script>
<script src="js/theme.js" th:src="@{'/resource/js/manage/purchaseReqBillEdit.js'}"></script>
</body>
</html>
