<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>采购单列表-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::sidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3>采购单列表<a th:href="@{'/manage/purchaseReqBillEdit.html'}" role="button" class="btn btn-success btn-sm pull-right"><span class="icon-plus"></span>&nbsp;新增采购单</a></h3>
    <div th:replace="component/selectFilterModule::selectForm" th:with="filter = ${filter}, url = @{'/manage/purchaseReqBillList.html'}"></div>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>申请部门</th>
            <th>日期</th>
            <th>品名</th>
            <th>规格</th>
            <th>数量</th>
            <th>单价</th>
            <th>备注</th>
            <th style="text-align:center;">流程状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody th:if="${!#lists.isEmpty(purchaseReqBills)}">
          <tr th:each="purchaseReqBill :${purchaseReqBills}" th:with="editable = ${currentUser.equals(purchaseReqBill.createUser) and purchaseReqBill.processUnStarted}">
            <td th:text="${purchaseReqBill.department!=null}?${purchaseReqBill.department.name}:'-'"></td>
            <td th:text="${#dates.format(purchaseReqBill.createDate,'yyyy-MM-dd HH:mm')}"></td>
            <td colspan="5"><table>
                <tbody>
                  <tr th:each="entry : ${purchaseReqBill.entry}">
                    <td th:text="${entry.name}"></td>
                    <td th:text="${entry.standard}"></td>
                    <td th:text="${entry.quantity}"></td>
                    <td th:text="${entry.unitPrice}"></td>
                    <td th:text="${entry.remark}"></td>
                  </tr>
                </tbody>
              </table></td>
            <td style="text-align:center;"><i th:class="${purchaseReqBill.processStatus.value eq 0}?'icon-circle-blank':'icon-circle'" th:classappend="${purchaseReqBill.processStatus.value eq 2}?'text-success':(${purchaseReqBill.processStatus.value eq 1}?'text-primary')"></i></td>
            <td><a th:href="@{'/manage/workFlowDetail.html?workFlowModelId='+${purchaseReqBill.id}}" class="btn btn-default btn-sm" role="button">详情</a>&nbsp;<a th:if="${editable}" th:href="@{'/manage/purchaseReqBillEdit.html?purchaseReqBillId='+${purchaseReqBill.id}}" class="btn btn-default btn-sm" role="button">编辑</a>&nbsp;<a onclick="return window.confirm('确定提交所选工作报告?')" th:if="${editable}" th:href="@{'/manage/startWorkFlow.html?workFlowModelId='+${purchaseReqBill.id}}" class="btn btn-primary btn-sm" role="button">提交审批</a>&nbsp;<a onclick="return window.confirm('确定删除所选采购单?')" th:if="${editable}" th:href="@{'/manage/purchaseReqBillDelete.html?purchaseReqBillId='+${purchaseReqBill.id}}" class="btn btn-warning btn-sm" role="button">删除</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p th:if="${!#lists.isEmpty(purchaseReqBills)}"><i class="icon-circle-blank"></i>&nbsp;未启动&nbsp;&nbsp;<i class="icon-circle text-primary"></i>&nbsp;运行中&nbsp;&nbsp;<i class="icon-circle text-success"></i>&nbsp;已结束</p>
    <div th:if="${!#lists.isEmpty(purchaseReqBills)}" th:include="component/pagination::pagination" th:remove="tag" th:with="pageDevice=${filter.criteria.pageDevice},url='purchaseReqBillList.html'"></div>
    <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(purchaseReqBills)}">暂没有可供您浏览的采购单</div>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_purchaseReqBill'" th:remove="tag"></script>
<script type="text/javascript" th:replace="component/selectFilterModule::selectFormResource"></script>
</body>
</html>
