<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>采购单-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::sidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3>采购单<a th:href="@{'/manage/purchaseReqBillEdit.html'}" role="button" class="btn btn-success btn-sm pull-right"><span class="icon-plus"></span>&nbsp;新增采购单</a><a style="margin-right:5px;" th:href="@{'/manage/exportPurchaseReqBillExcel.do'}" role="button" class="export-excel hidden-xs btn btn-default btn-sm pull-right"><span class="icon-file-text"></span>&nbsp;导出Excel文档</a></h3>
    <div th:replace="component/selectFilterModule::selectForm" th:with="filter = ${filter}, url = @{'/manage/purchaseReqBillList.html'}"></div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="hidden-xs"><input type="checkbox" id="checkAll" name="checkAll"/></th>
          <th>申请部门</th>
          <th class="hidden-xs">日期</th>
          <th>品名</th>
          <th class="hidden-xs">规格</th>
          <th>数量</th>
          <th>单价</th>
          <th class="hidden-xs">备注</th>
          <th style="text-align:center;">流程状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody th:if="${!#lists.isEmpty(purchaseReqBills)}">
      <tbody th:each="purchaseReqBill :${purchaseReqBills}" th:remove="tag">
        <tr th:each="entry : ${purchaseReqBill.entry}" th:with="editable = ${currentUser.equals(purchaseReqBill.createUser) and purchaseReqBill.processUnStarted}">
          <td class="hidden-xs" th:if="${entryStat.first}" th:rowspan="${purchaseReqBill.entry.size()}"><input type="checkbox" name="exportIds" th:value="${purchaseReqBill.id}"/></td>
          <td th:text="${purchaseReqBill.department!=null}?${purchaseReqBill.department.name}:'-'" th:if="${entryStat.first}" th:rowspan="${purchaseReqBill.entry.size()}"></td>
          <td class="hidden-xs" th:text="${#dates.format(purchaseReqBill.createDate,'yyyy-MM-dd HH:mm')}" th:if="${entryStat.first}" th:rowspan="${purchaseReqBill.entry.size()}"></td>
          <td th:text="${entry.name}"></td>
          <td class="hidden-xs" th:text="${entry.standard}"></td>
          <td th:text="${purchaseReqBill.processStatus.value eq 2}?${entry.actualQuantity}:${entry.quantity}"></td>
          <td th:text="${entry.unitPrice}"></td>
          <td class="hidden-xs" th:text="${#strings.abbreviate(entry.remark,12)}"></td>
          <td style="text-align:center;" th:if="${entryStat.first}" th:rowspan="${purchaseReqBill.entry.size()}"><i th:class="${purchaseReqBill.processStatus.value eq 0}?'icon-circle-blank':'icon-circle'" th:classappend="${purchaseReqBill.processStatus.value eq 2}?'text-success':(${purchaseReqBill.processStatus.value eq 1}?'text-primary')"></i></td>
          <td th:if="${entryStat.first}" th:rowspan="${purchaseReqBill.entry.size()}"><a th:href="@{'/manage/workFlowDetail.html?workFlowModelId='+${purchaseReqBill.id}}" class="btn btn-default btn-sm" role="button">详情</a>&nbsp;<a th:if="${editable}" th:href="@{'/manage/purchaseReqBillEdit.html?purchaseReqBillId='+${purchaseReqBill.id}}" class="btn btn-default btn-sm" role="button">编辑</a>&nbsp;<a onclick="return window.confirm('确定提交所选工作报告?')" th:if="${editable}" th:href="@{'/manage/startWorkFlow.html?workFlowModelId='+${purchaseReqBill.id}}" class="btn btn-primary btn-sm" role="button">提交审批</a>&nbsp;<a onclick="return window.confirm('确定删除所选采购单?')" th:if="${editable}" th:href="@{'/manage/purchaseReqBillDelete.html?purchaseReqBillId='+${purchaseReqBill.id}}" class="btn btn-warning btn-sm" role="button">删除</a></td>
        </tr>
      </tbody>
      </tbody>
      
    </table>
    <p th:if="${!#lists.isEmpty(purchaseReqBills)}"><i class="icon-circle-blank"></i>&nbsp;未启动&nbsp;&nbsp;<i class="icon-circle text-primary"></i>&nbsp;运行中&nbsp;&nbsp;<i class="icon-circle text-success"></i>&nbsp;已结束</p>
    <div th:if="${!#lists.isEmpty(purchaseReqBills)}" th:include="component/pagination::pagination" th:remove="tag" th:with="pageDevice=${filter.criteria.pageDevice},requestQueryString=${filter.requestQueryString},url='purchaseReqBillList.html'+(${#strings.isEmpty(requestQueryString)}?'':'?'+${requestQueryString})"></div>
    <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(purchaseReqBills)}">暂没有可供您浏览的采购单</div>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_purchaseReqBill'" th:remove="tag"></script>
<script type="text/javascript" th:replace="component/selectFilterModule::selectFormResource"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.export-excel').click(function(){
		if(jQuery('input[name="exportIds"]:checked').length==0){
			alert('请首先勾选需要导出的采购单');
			return false;
		}
		jQuery(this).attr('href','exportPurchaseReqBillExcel.do?'+jQuery('input[name="exportIds"]:checked').serialize());
	});
});
</script>
</body>
</html>
