<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>欢迎登录敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
<link rel="stylesheet" href="css/compiled/index.css" type="text/css" media="screen" th:href="@{'/resource/css/compiled/index.css'}" />
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::sidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <!-- upper main stats -->
  <div id="main-stats">
    <div class="row stats-row">
      <div class="col-md-3 col-sm-3 stat">
        <div class="data"> <a class="number" th:href="@{'/manage/myTodoTasks.html'}" th:text="${todoTaskCount}">2457</a> 条 </div>
        <span class="date">待处理任务</span> </div>
      <div class="col-md-3 col-sm-3 stat">
        <div class="data"> <a class="number" th:href="@{'/manage/myDoneTasks.html'}" th:text="${doneTaskCount}">2457</a> 条 </div>
        <span class="date">已处理任务</span> </div>
      <div class="col-md-3 col-sm-3 stat">
        <div class="data"> <span class="number" th:text="${currentUser.loginCount}">3240</span> 次 </div>
        <span class="date">登录次数</span> </div>
    </div>
  </div>
  <div id="pad-wrapper">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h4 style="font-style:normal;"><strong class="text-primary" th:text="${currentCompany.name}"></strong>·企业通讯录</h4>
      </div>
      <div class="panel-body"> <p><strong class="text-primary" th:text="${currentUser.name}"></strong>您好，欢迎使用敏易在线办公系统，今天是<span th:text="${#dates.format(#dates.createToday(),'yyyy年M月d日')}"></span>。</p> <p th:if="${currentUser.isPasswordCorrect(currentUser.cellPhoneNumber)}">您当前使用系统初始密码登录系统，为保障账户安全，建议您&nbsp;<a role="button" class="btn btn-sm btn-primary" th:href="@{'/share/passwordReset.html'}">修改密码</a></p></div>
      <!-- Table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="hidden-xs">#</th>
            <th>部门</th>
            <th>姓名</th>
            <th class="hidden-xs">性别</th>
            <th class="hidden-xs">工号</th>
            <th class="hidden-xs">职衔</th>
            <th>联系手机</th>
          </tr>
        </thead>
        <tbody th:if="${!#lists.isEmpty(currentCompany.userOrgRelations)}">
          <tr th:each="userOrgRelation :${currentCompany.userOrgRelations}">
            <td class="hidden-xs" th:text="${userOrgRelationStat.count}"></td>
            <td th:text="${userOrgRelation.department!=null}?${userOrgRelation.department.name}"></td>
            <td th:text="${userOrgRelation.user.name}"></td>
            <td class="hidden-xs" th:text="${userOrgRelation.user.userMale.description}"></td>
            <td class="hidden-xs" th:text="${userOrgRelation.jobNumber}"></td>
            <td class="hidden-xs" th:text="${userOrgRelation.title}"></td>
            <td th:text="${userOrgRelation.user.cellPhoneNumber}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" th:substituteby="component/resource::js"></script>
</body>
</html>
