<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<!-- 顶部导航栏 -->
<header th:fragment="header" class="navbar navbar-inverse" role="banner">
  <div class="navbar-header pull-left">
    <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" th:href="${currentCompany==null}?@{'/admin/index.html'}:@{'/manage/index.html'}"><img src="img/logo.png" th:src="${resourceUrlRoot}+'/img/logo.png'"/></a> </div>
  <ul class="nav navbar-nav pull-right">
    <li class="dropdown hidden-xs"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span th:text="'您好，'+(${currentUser!=null}?${currentUser.name}:${T(com.minyisoft.webapp.yjmz.common.security.SecurityUtils).currentUser.name})" th:remove="tag">账号管理</span> <b class="caret"></b> </a>
      <ul class="dropdown-menu">
        <li th:if="${currentUser!=null}"><a href="personal-info.html" th:href="@{'/manage/userInfo.html'}">个人信息</a></li>
        <li><a href="#" th:href="@{'/share/passwordReset.html'}">修改密码</a></li>
      </ul>
    </li>
    <li class="hidden-xs" th:if="${currentCompany!=null}"> <a href="#"> 当前公司：<span th:text="${currentCompany.name}" th:remove="tag"></span></a> </li>
    <li class="hidden-xs dropdown" th:if="${currentUser!=null and currentUser.getOrgList(T(com.minyisoft.webapp.yjmz.common.model.CompanyInfo)).size() gt 1}"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 切换组织 <b class="caret"></b> </a>
      <ul class="dropdown-menu">
        <li th:each="org : ${currentUser.getOrgList(T(com.minyisoft.webapp.yjmz.common.model.CompanyInfo))}" th:if="${!org.equals(currentCompany)}"><a href="personal-info.html" th:href="@{'/manage/switchOrg.html?orgId='+${org.id}}" th:text="${org.name}">个人信息</a></li>
      </ul>
    </li>
    <li th:if="${currentCompany!=null}" class="notification-dropdown"> <a th:href="@{'/manage/messageReceiveList.html'}" class="trigger active"> <i class="icon-envelope"></i> </a> </li>
    <li class="hidden-xs settings" th:if="${currentCompany!=null}"> <a href="resource/help.html" target="_blank" title="使用帮助" role="button" th:href="@{'/resource/help.html'}"> <i class="icon-question-sign"></i> </a> </li>  
    <li class="hidden-xs settings"> <a href="signin.html" title="退出系统" role="button" th:href="@{'/logout.html'}"> <i class="icon-signout"></i> </a> </li>
  </ul>
</header>
<!-- 普通用户左侧主菜单 -->
<div th:fragment="sidebar" id="sidebar-nav">
  <ul id="dashboard-menu">
    <li> <a th:href="@{'/manage/welcome.html'}"> <i class="icon-home"></i> <span>欢迎页</span> </a> </li>
    <li id="menu_workflow_center"> <a th:href="@{'/manage/myTodoTasks.html'}"> <i class="icon-tasks"></i> <span>任务中心</span> </a> </li>
    <li id="menu_report">
      <div class="pointer" th:remove="all">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
      </div>
      <a th:href="@{'/manage/reportList.html'}"> <i class="icon-file-text"></i> <span>工作报告</span> </a> </li>
    <li id="menu_personnelChangeBill"> <a th:href="@{'/manage/personnelChangeBillList.html'}"> <i class="icon-th-large"></i> <span>人事变动单</span> </a> </li>
    <li id="menu_purchaseReqBill"> <a th:href="@{'/manage/purchaseReqBillList.html'}"> <i class="icon-shopping-cart"></i> <span>采购单</span> </a> </li>
    <li id="menu_maintainReqBill"> <a th:href="@{'/manage/maintainReqBillList.html'}"> <i class="icon-wrench"></i> <span>工程维修单</span> </a> </li>
    <li class="visible-xs-block"> <a th:href="@{'/logout.html'}"> <i class="icon-signout"></i> <span>退出系统</span> </a> </li>
  </ul>
</div>
<!-- 系统管理员页面左侧主菜单 -->
<div th:fragment="adminSidebar" id="sidebar-nav">
  <ul id="dashboard-menu">
    <li id="menu_company"> <a th:href="@{'/admin/companyList.html'}"> <i class="icon-building"></i> <span>公司信息</span> </a> </li>
    <li id="menu_user"> <a th:href="@{'/admin/userList.html'}"> <i class="icon-user"></i> <span>系统用户信息</span> </a> </li>
    <li id="menu_workflow_config"> <a th:href="@{'/admin/workFlowConfigList.html'}"> <i class="icon-gears"></i> <span>工作流程管理</span> </a> </li>
    <li id="menu_system_tool"> <a class="dropdown-toggle" href="#"> <i class="icon-group"></i> <span>系统工具</span> <i class="icon-chevron-down"></i> </a>
      <ul class="submenu" th:remove="all-but-first">
        <li><a href="user-list.html" th:href="@{'/admin/cacheManager.html'}">缓存管理</a></li>
        <li><a href="new-user.html">新用户</a></li>
        <li><a href="user-profile.html">用户资料</a></li>
      </ul>
    </li>
  </ul>
</div>
</body>
</html>
