<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css" th:remove="tag">
<link th:href="${resourceUrlRoot}+'/img/favicon.ico'" rel="icon" type="image/x-icon" />
<link th:href="${resourceUrlRoot}+'/img/favicon.ico'" rel="shortcut icon" type="image/x-icon" />
<!-- bootstrap -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap-overrides.css" th:href="${resourceUrlRoot}+'/css/bootstrap/bootstrap-overrides.css'"/>
<!-- global styles -->
<link rel="stylesheet" type="text/css" href="css/compiled/layout.css" th:href="${resourceUrlRoot}+'/css/compiled/layout.css'"/>
<!-- libraries -->
<link href="http://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body th:fragment="js" th:remove="tag">
<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/theme.js" th:src="${resourceUrlRoot}+'/js/theme.js'"></script>
<script type="text/javascript" th:inline="javascript">
var selected_menu_id=/*[[${menu}]]*/null;
jQuery(document).ready(function() {
	if(selected_menu_id!=null){
		jQuery('#sidebar-nav #'+selected_menu_id).addClass('active').append('<div class="pointer"><div class="arrow"></div><div class="arrow_border"></div></div>');
	} else {
		jQuery('#sidebar-nav li:first').addClass('active').append('<div class="pointer"><div class="arrow"></div><div class="arrow_border"></div></div>');
	}
	jQuery('#sidebar-nav li.active ul.submenu').show();
});
</script>
<script type="text/javascript" th:inline="javascript" th:if="${currentCompany!=null}">
jQuery(document).ready(function() {
	jQuery.getJSON('countUnreadMessages.do?timestamp='+(new Date()).valueOf(),function(data){
		var unReadMessageCount = Number(data);
		if(data > 0){
			jQuery('.navbar .icon-envelope').after('<span class="count">'+data+'</span>');
		}
	});
});
</script>
</body>
<body th:fragment="formValidateJs" th:remove="tag">
<script src="http://cdn.bootcss.com/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="js/validate-message-cn.js" th:src="${resourceUrlRoot}+'/js/validate-message-cn.js'"></script>
<script type="text/javascript" th:inline="javascript">
var formId=/*[[${formId}]]*/null;
var extendOption=/*[[${extendOption}]]*/null;
jQuery(document).ready(function() {
	jQuery('#'+formId).validate(jQuery.extend({
		errorElement : 'span',  
        errorClass : 'help-block',
		highlight: function(element) {
    		jQuery(element).closest('.form-group').addClass('has-error');
  		},
  		success: function(element) {
    		element.closest('.form-group').removeClass('has-error');
  		},
  		errorPlacement : function(error, element) {  
            element.parent('div').append(error);  
        }
	},extendOption!=null?eval('('+extendOption+')'):null));
});
</script>
</body>
</html>
