<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分页器通用组件</title>
</head>
<body>
<form th:fragment="selectForm" th:if="${filter}" th:inline="text" role="form" class="form-inline" id="selectForm" name="selectForm" method="get" th:action="${url}" th:style="'margin-bottom:10px; '+(${filter.hideSelectForm}?'display:none;':'')">
  <div class="form-group" th:each="unit : ${filter.unitContentList}" th:style="${unit.type.equalsIgnoreCase('hidden')}?'display:none;'">
    <label th:for="${unit.id}" th:text="${unit.label}+'：'">Email address</label>
    <select th:if="${unit.type.equalsIgnoreCase('select')}" th:id="${unit.id}" th:name="${unit.name}" class="form-control">
      <option value="">全部</option>
      <option th:each="obj : ${unit.optionList}" th:value="${unit.getObjectValue(obj)}" th:selected="${unit.isValueMatched(obj)}" th:text="${unit.getDisplayLabel(obj)}">候选值</option>
    </select>
    <input th:if="${unit.type.equalsIgnoreCase('text')}" th:name="${unit.name}" th:id="${unit.id}" type="text" th:value="${unit.getObjectValue(unit.value)}"  th:size="${#strings.equalsIgnoreCase(unit.name,'pageDevice.recordsPerPage')}?'2'" class="dataUnit"/>
    <input th:if="${unit.type.equalsIgnoreCase('date')}" class="selectDate form-control" th:name="${unit.name}" th:id="${unit.id}" type="text" th:value="${unit.getObjectValue(unit.value)}" size="10" maxlength="10"/>
    <input th:if="${unit.type.equalsIgnoreCase('autoComplete')}" class="autoCompleteBox form-control" th:name="'label_'+${unit.name}" th:id="'label_'+${unit.id}" type="text" th:value="${unit.value.label}" th:inline="text" th:src="${unit.autoCompleteRequestUrl}"/>
    <input th:if="${unit.type.equalsIgnoreCase('autoComplete')}" class="autoCompleteHiddenValue form-control" th:name="${unit.name}" th:id="${unit.id}" type="hidden" th:value="${unit.getObjectValue(unit.value)}" />
    <input th:if="${unit.type.equalsIgnoreCase('checkBox')}" th:name="${unit.name}" th:id="${unit.id}" type="checkbox" value="1" th:checked="${unit.getObjectValue(unit.value)}" class="dataUnit"/>
    <span th:if="${unit.type.equalsIgnoreCase('checkBox')}" th:text="${unit.label}">checkbox候选值</span>
    <input th:if="${unit.type.equalsIgnoreCase('hidden')}" th:name="${unit.name}" th:id="${unit.id}" type="hidden" th:value="${unit.getObjectValue(unit.value)}" />
  </div>
  <button type="submit" class="btn btn-default">查询</button>
</form>
</body>
</html>
