<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>结束流程实例-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css">
</style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::adminSidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3><span th:text="${workFlowConfig.defineOrg.name}+'·'+${workFlowConfig.name}+'·已结束流程实例'" th:remove="tag">已结束流程实例</span><a role="button" class="btn btn-success btn-sm pull-right" th:href="@{'/admin/workFlowConfigList.html'}"><span class="icon-share-alt"></span>&nbsp;返回流程定义列表</a></h3>
    <ul class="nav nav-tabs" role="tablist">
      <li><a th:href="@{'/admin/processInstances.html?workFlowConfigId='+${workFlowConfig.id}}">运行中</a></li>
      <li class="active"><a th:href="@{'/admin/historicProcessInstances.html?workFlowConfigId='+${workFlowConfig.id}}">已结束</a></li>
    </ul>
    <table class="table table-hover table-striped mt10">
      <tr>
        <th>序号</th>
        <th>流程名称</th>
        <th>创建人</th>
        <th>开始时间</th>
        <th>完成时间</th>
        <th>任务耗时</th>
        <th>操作</th>
      </tr>
      <tr th:each="processInstance : ${processInstances}" th:with="businessModel=${T(com.minyisoft.webapp.core.utils.ObjectUuidUtils).getObject(processInstance.businessKey)}">
        <td th:text="${processInstanceStat.count + (pageDevice.currentPage - 1) * pageDevice.recordsPerPage}"></td>
        <td th:text="${businessModel.processInstanceName}"></td>
        <td th:text="${businessModel.createUser.name}"></td>
        <td th:text="${#dates.format(processInstance.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#dates.format(processInstance.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${T(com.minyisoft.webapp.yjmz.common.util.workflow.ActivitiHelper).formatDuration(processInstance.durationInMillis)}"></td>
        <td><a th:href="@{'/admin/workFlowDetail.html?workFlowModelId='+${businessModel.id}}" class="btn btn-default btn-sm oprt-ajax" role="button">详情</a></td>
      </tr>
    </table>
    <div th:if="${!#lists.isEmpty(processInstances)} and ${pageDevice.totalPages gt 1}" th:include="component/pagination::pagination" th:remove="tag" th:with="pageDevice=${pageDevice},url='historicProcessInstances.html',pageNumberVariableName='currentPage'"></div>
    <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(processInstances)}">暂没有已结束的流程实例</div>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_workflow_config'" th:remove="tag"></script>
</body>
</html>
