<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>系统用户列表-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::adminSidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3>系统用户列表<a th:href="@{'/admin/userEdit.html'}" role="button" class="btn btn-success btn-sm pull-right"><span class="icon-plus"></span>&nbsp;新增用户</a></h3>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>序号</th>
          <th>姓名</th>
          <th>性别</th>
          <th>联系手机</th>
          <th>状态</th>
          <th>登录次数</th>
          <th>最近登录时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user :${users}" th:class="${user.status.value==1}?'danger'">
          <td th:text="${userStat.count}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.userMale.description}"></td>
          <td th:text="${user.cellPhoneNumber}"></td>
          <td th:text="${user.status.description}"></td>
          <td th:text="${user.loginCount}"></td>
          <td th:text="${user.lastLoginTime!=null}?${#dates.format(user.lastLoginTime,'yyyy-MM-dd HH:mm:ss')}"></td>
          <td><a th:href="@{'/admin/userEdit.html?userId='+${user.id}}" class="btn btn-primary btn-sm" role="button">编辑</a>&nbsp;<a onclick="return window.confirm('重置密码后登录密码将被修改为用户手机号码，确认重置?')" th:href="@{'/admin/userPasswordReset.html?userId='+${user.id}}" class="btn btn-warning btn-sm" role="button">重置登录密码</a></td>
        </tr>
      </tbody>
    </table>
    <div th:if="${!#lists.isEmpty(users)}" th:include="component/pagination::pagination" th:remove="tag" th:with="pageDevice=${filter.criteria.pageDevice},url='userList.html'"></div>
    <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(users)}">暂无系统用户信息</div>
  </div>
</div>
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_user'" th:remove="tag"></script>
</body>
</html>
