<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>工作流程列表-敏易在线办公系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css" th:substituteby="component/resource::css"></style>
</head>
<body>
<!-- navbar -->
<div th:substituteby="component/layout::header"></div>
<!-- end navbar -->
<!-- sidebar -->
<div th:substituteby="component/layout::adminSidebar"></div>
<!-- end sidebar -->
<!-- main container -->
<div class="content">
  <div id="pad-wrapper">
    <h3>工作流程列表<a th:href="@{'/admin/workFlowConfigEdit.html'}" role="button" class="btn btn-success btn-sm pull-right"><span class="icon-plus"></span>&nbsp;新增工作流程</a></h3>
    <div th:replace="component/selectFilterModule::selectForm" th:with="filter = ${filter}, url = @{'/admin/workFlowConfigList.html'}"></div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>序号</th>
          <th>所属组织</th>
          <th>流程名称</th>
          <th>流程类型</th>
          <th>触发条件</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody th:if="${!#lists.isEmpty(workFlowConfigs)}">
        <tr th:each="workFlowConfig :${workFlowConfigs}">
          <td th:text="${workFlowConfigStat.count}"></td>
          <td th:text="${workFlowConfig.defineOrg.name}"></td>
          <td th:text="${workFlowConfig.name}"></td>
          <td th:text="${T(com.minyisoft.webapp.core.utils.ObjectUuidUtils).getClassLabel(workFlowConfig.workFlowType)}"></td>
          <td th:text="${#strings.isEmpty(workFlowConfig.triggerExpression)}?'-':${workFlowConfig.triggerExpression}"></td>
          <td th:text="${workFlowConfig.description}"></td>
          <td><a th:href="@{'/admin/workFlowConfigEdit.html?workFlowConfigId='+${workFlowConfig.id}}" class="btn btn-default btn-sm" role="button">编辑</a>
            <button class="workflow-config-diagram btn btn-default btn-sm" th:attr="data-config-id=${workFlowConfig.processDefinitionId},data-config-title=${workFlowConfig.name}">流程定义</button>
            <a onclick="return window.confirm('确定挂起指定工作流程定义?')" th:if="${workFlowConfig.workFlowStatus.value==0}" th:href="@{'/admin/workFlowConfigSuspend.html?workFlowConfigId='+${workFlowConfig.id}}" class="btn btn-warning btn-sm" role="button">挂起</a> <a th:if="${workFlowConfig.workFlowStatus.value==1}" th:href="@{'/admin/workFlowConfigActive.html?workFlowConfigId='+${workFlowConfig.id}}" class="btn btn-success btn-sm" role="button">激活</a> <a onclick="return window.confirm('确定删除指定工作流程定义?')" th:if="${workFlowConfig.workFlowStatus.value==1}" th:href="@{'/admin/workFlowConfigDelete.html?workFlowConfigId='+${workFlowConfig.id}}" class="btn btn-danger btn-sm" role="button">删除</a> <a th:href="@{'/admin/processInstances.html?workFlowConfigId='+${workFlowConfig.id}}" class="btn btn-primary btn-sm" role="button">流程实例</a></td>
        </tr>
      </tbody>
    </table>
    <div th:if="${!#lists.isEmpty(workFlowConfigs)}" th:include="component/pagination::pagination" th:remove="tag" th:with="pageDevice=${filter.criteria.pageDevice},url='workFlowConfigList.html'"></div>
    <div class="alert alert-warning" role="alert" th:if="${#lists.isEmpty(workFlowConfigs)}">暂无工作流程定义</div>
  </div>
</div>
<!-- 流程图模态框 begin -->
<div class="modal fade" id="diagramModal" tabindex="-1" role="dialog" aria-labelledby="diagramModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="diagramModalLabel">Modal title</h4>
      </div>
      <div class="modal-body"> ... </div>
    </div>
  </div>
</div>
<!-- 流程图模态框 end -->
<!-- end main container -->
<script type="text/javascript" th:include="component/resource::js" th:with="menu='menu_workflow_config'" th:remove="tag"></script>
<script type="text/javascript" th:src="@{'/resource/js/admin/workFlowConfigList.js'}"></script>
</body>
</html>
